body{
    background:url('form.jpg');
    background-size:cover;
    font-size: large;
    width: 80%;
    margin:auto;
    padding:20px;
    justify-items: center;
}
h1{
    font-style: italic;
    text-align: left;
    color:rgb(236, 234, 231)
}
form{
    width:60%;
    margin:auto;
    padding:20px;
    border:2px solid rgb(119, 102, 102);
    border-radius:10px;
    font-style: bold;
    color:rgb(142, 142, 109)

}
div{
    margin-bottom:10px;
}
label{
    display:block;
    margin-bottom:5px;
    font-weight:bold;
    font-size: large;
    font-style: bold;
}
input[type="text"], input[type="email"], input[type="tel"], input[type="date"], input[type="file"]{
    width:100%;
    padding:8px;
    box-sizing:border-box;
    border:1px solid #ccc;
    border-radius:4px;
}
input[type="submit"]{
    background-color:rgb(85, 151, 85);
    color:white;
    padding:10px 15px;
    border:5px solid rgb(85, 151, 85);
    border-radius:4px;
    cursor:pointer;
}

